

.wall {
    height: 500px;
    width: 100%;
    position: relative;
    .img {
        height: 440px;
        width: 850px;
    }
}

.first {
    position: absolute;
    left: 40px;
    top: 0;
}

.second {
    position: absolute;
    right: 40px;
    top: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 450px;
    .title {
        margin-top: 20px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 25px;
        color: #1D155D;
    }
    
    .desc {
        font-size: 18px;
        color: #18456B;
    }

    
    button:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}





.content-main {
    width: 800px;
    .title-main {
        width: 550px;
        color: #000;
        font-size: 46px;
        text-transform: uppercase;
    }
    
    .desc-main {
        width: 550px;
        font-size: 22px
    }

    button:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}




.bg-white {
    background-color: #fff;
}

.bg-blue {
    background-color: #026F84;
     
    .img {
        height: 500px;
        width: 100%;
        object-fit: cover;
    }
}