
.wapper {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.small {
    height: 28px;
    width: 140px;
}

.medium {
    height: 28px;
    width: 210px;
}

.large {
    height: 42px;
    width: 250px;
}

.primary {
    background-color: #d75d2b;
}
