
.box {
    position: relative;
    height: 400px;
    h3 {
        font-size: 36px;
        text-transform: uppercase;
        padding-left: 30px;
        color: #1D155D;
    }
}



.list-partner {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-items: center;
    img {
        height: 130px;
        width: 240px;
    }
}

.btn-up {
    background-color: transparent;
    font-size: 20px;
    position: absolute;
    right: 20px;
    bottom: 20px;

    &:hover {
        cursor: pointer;
        opacity: 0.6;
    }
}