

.container {
    width: 100%;
    height: 450px;
}

.list-post {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    .post-item {
        height: 330px;
        width: 388px;
        background-color: #1B9191;
    }

    .poster {
        display: block;
        height: 100%;
        width: 100%;
    }

    .desc {
        display: block;
        height: 40px;
        width: 100%;
        background-color: #87C1D2;
        text-align: center;
        font-size: 26px;
        color: #001B52;
        font-weight: bold;
        text-transform: uppercase;
        padding: 24px 0;
        
        &:hover {
            color: #000;
        }
    }
}